[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pillow = "*"
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
python-dotenv = "*"
playwright = "*"
uvicorn = "*"

[dev-packages]
types-requests = "*"
mypy = "*"
types-beautifulsoup4 = "*"
sqlalchemy-stubs = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
